#
#    fty-discovery - 42ity service for discovering devices
#
#    Copyright (C) 2014 - 2020 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source:         fty-discovery
Maintainer:     fty-discovery Developers <eatonipcopensource@eaton.com>
Build-Depends:
    cmake (>=3.0),
    debhelper (>= 9),
    fty-cmake-dev,
    pkg-config,
    libssl-dev,
    libcidr-dev,
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev (>= 3.0.2),
    libcxxtools-dev,
    libmlm-dev (>= 1.0.0),
    libtntdb-dev,
    libfty-common-dev,
    libfty-common-logging-dev,
    libfty-proto-dev,
    libfty-common-db-dev,
    libfty-security-wallet-dev,
    libfty-common-nut-dev,
    libfty-utils-dev,
    libfty-pack-dev,
    libneon27-dev,
    gcc (>= 4.9.0), g++ (>= 4.9.0),
    systemd,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: fty-discovery
Architecture: any
Section: net
Priority: optional
Depends:    ${shlibs:Depends},
            ${misc:Depends}
Description: 42ity service for discovering devices
 42ity service for discovering devices
